* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}
.main {
    position: relative;
}
h1 {
    background-image: url('https://images.unsplash.com/photo-1627163393603-9a8fdc9d1a26?q=80&w=2000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    border: 8px solid black;
    padding: 10px 20px;
}