* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html, body {
    height: 100%;
    width: 100%;
}
.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(315deg, white, blue);
}
.main-one {
    height: 30vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    position: relative;
    /* background-color: rebeccapurple; */
}
h2 {
    padding: 15px 18px;
    background-color: white;
    border-radius: 50%;
}
.tooltip-container {
    height: 28vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
  
}
.one1 {
    height: 40px;
    width: 100px;
    background-color: white;
    position: absolute;
    top: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.one1 h1 {
    padding: 2px 6px;
    font-size: 18px;
}
.squre {
    height: 15px;
    width: 15px;
    background-color: white;
    position: absolute;
    transform: rotate(45deg);
    top: 80%;
}
.tooltip-container:hover .one1 {
    opacity: 1;
    text-shadow: 0px -1px 0px rgba(0 , 0  , 0 , 0.5);
}
