* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

.main {
    background-color: gray;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top{
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 10px;
}
.top h2{
    font-size: 18px;
    font-weight: 500;
    color: white;
    opacity: 0.7;
}
.logo{
    display: flex;
    align-items: center;
    gap: 4px;
}
.logo img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}
.logo .texth2{
    padding: 6px 14px;
    /* background-color: red; */
    font-size: 2vw;
    font-weight: 900;
}
.text{
  display: flex;
  align-items: center;
  gap: 20px;
}
.container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 70vh;
}

.carousel {
    display: flex;
    flex-wrap: nowrap;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-images img {
    width: 100vw;
    height: 70vh;
    object-fit: cover;
}

.buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.buttons button {
    background: transparent;
    border: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.buttons button:hover {
    opacity: 1;
}
.bottom {
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
p{
    font-size: 22px;
    font-weight: 600;
    color: white;
    opacity: 0;

}
.h1{
  height: 15vh;
  width: 8vw;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed white;
  border-radius: 50%;
}
h1{
    font-size: 22px;
    font-weight: 600;
    color: white;
    opacity: 0.6;
}



